.product {
    &__title {
        display: flex;
        align-items: center;
    }

    &__color {
        border-radius: 100%;
        border: 1px solid var(--whiteblack-400);
        padding: 1.5rem;
        margin-right: 1rem;
    }

    &__price {
        margin-top: 2rem;
        color: var(--primary-800);
    }

    button {
        padding: 1rem 0rem;
    }

    &__form__item {
        width: 23rem;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .product {   
        &__form__item {
            width: 90%;
        }
    }
}