.header {
    &.mobile {
        min-height: 100vh;
    }
    .row {
        &1 {
            color: var(--whiteblack-800);
            background-color: var(--whiteblack-300);
            padding: 0.25rem 0rem;
            font-size: 0.9rem;
            span {
                color: var(--secondary-800);
            }
        }

        &2 {
            background-color: var(--whiteblack-100);
            line-height: 0;
            padding: 2rem 0rem;

            .logo {
                width: 100%;
                text-align: center;
            }
        }

        &3 {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid var(--whiteblack-400);
        }
    }

    &__audience {
        > * {
          margin-right: 1rem;
          font-size: 1.25rem;
          font-weight: 600;
        }
    }

    &__icons {
        * {
            margin-left: 1rem;
        }
    }

    &__categories {
        * {
            transition: all 0.1s;
            margin-right: 1rem;
            &:hover {
                color: var(--primary-100);
            }
        }
    }

    .selected {
        transition: all 0.1s;
        color: var(--primary-100);
        border-bottom: 2px solid var(--primary-100);
    }

    &__searchbar {
        input {
            float: right;
        }
    }

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 991px) {
    header {
        .row {
            &3 {
                nav {
                    a {
                        &:nth-child(n+8) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    header {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--whiteblack-300);
        z-index: 5000;
        .row {
            &1 {
                display: none;
            }
            &2 {
                padding: 1rem 0rem !important;
                > div {
                    display: flex;
                    justify-content: space-between;
                }
                .header__icons {
                    a {
                        display: none;
                    }
                }

                nav {
                    display: none;
                }

                .logo {
                    width: fit-content !important;
                    font-size: 2rem;
                }
            }
            &3 {
                .header__searchbar {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                nav {
                    a {
                        display: none;
                    }
                }
            }
        }

        .mobile {
            &__nav {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 3rem;
                font-weight: 800;
                text-transform: uppercase;
                .selected {
                    border: 0;
                    color: var(--secondary-900) !important;

                }
            }
            .row {
                &3 {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    header {
        .row {
            &2 {
                .container {
                    .header__searchbar {
                        padding-left: 1rem !important;
                        padding-right: 1rem !important;
                    }
                }
            }
            &3 {

            }
        }
    }
}